body {
    margin: 20px;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    width: 180px;
}

#mp-upper {
    display: flex;
}

.article {
    width: 50%;
    background-color: #f5fffa;
    border: 1px solid gray;
    padding: 10px;
}

.news {
    width: 50%;
    background-color: #f5faff;
    border: 1px solid gray;
    padding: 10px;
}

.article-image {
    float: left;
    margin-right: 10px;
}

.article-image img {
    width: 150px;
}

.page {
    display: flex;
}

main {
    width: 80%;
}

.appearance {
    width: 20%;
    padding: 10px;
}